<%= form_for @plano_discagem, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :descricao, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :descricao, :class => 'text_field' %>
      <%= f.text_area(:descricao, :rows => 20, :cols => 80,:class => 'span6',:required => '',:placeholder => "Informe os dados do plano de discagem.")%>

    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                planos_discagens_path, :class => 'btn' %>
  </div>
<% end %>
