<%= form_for @caixa_postal, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :ramal_id, :class => 'control-label' %>
    <div class="controls">
      <%#= f.number_field :ramal_id, :class => 'number_field' %>
      <%= f.select(:ramal_id, Ramal.all.collect {|p| [ p.ramal, p.id ] }, { :include_blank => true},:required => '' )%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descricao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descricao, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                caixas_postais_path, :class => 'btn' %>
  </div>
<% end %>
