<%= form_for @login, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :usuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usuario, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :senha, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :senha, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ativo, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :ativo, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                login_path, :class => 'btn' %>
  </div>
<% end %>
